// .container {
//   width: 200px;
//   height: 64px;
//   margin: auto;
//   // line-height: height;
//   // text-align: center;
//   padding:auto;

//   h1 {
//       font-size: 32px;
//       color: #f7f7f7;
//   }
// }

.container {
  width: 200px;
  margin: 12px 0;
  line-height: 1;
  text-align: center;

  h1 {
      font-size: 32px;
      color: #f7f7f7;
  }
}